<p>directive works!</p>

<h3 *ngIf="show">Component Directive</h3>
<button (click)="toggleShow()">ToggleShow</button>

<h1>NgFor NgIf Directive Structural</h1>
<ul>
    <li *ngFor="let user of users">
        {{user}}
    </li>
</ul>

<ul>
    <li *ngFor="let student of students">
        {{student.name}}
        {{student.class}}
        {{student.email}}
    </li>
</ul>

<div *ngIf="login; else elseCheck">
    <a href="">login</a>
</div>
<ng-template #elseCheck>
    <a href="">logout</a>
</ng-template>

<h1>ngSwitch Directive</h1>
<div [ngSwitch]="color">
    <div [style.backgroundColor]="color" *ngSwitchCase="'red'">red</div>
    <div [style.backgroundColor]="color" *ngSwitchCase="'green'">green</div>
    <div [style.backgroundColor]="color" *ngSwitchCase="'blue'">blue</div>
    <div [style.backgroundColor]="color" *ngSwitchCase="'yellow'">yellow</div>
    <div [style.backgroundColor]="color" *ngSwitchCase="'purple'">purple</div>
    <div *ngSwitchDefault>No Color</div>
</div>
<button (click)="toggleColor()">toggle switch</button>
