<h1>coding</h1>
<h2>{{title}}</h2>
<h3>{{name}}</h3>
<app-login></app-login>
<app-customComponent></app-customComponent>

<button (click)="handleClickEvent()">Click me</button>

<app-counter></app-counter>
<hr>
<app-events></app-events>
<app-getsetvalue></app-getsetvalue>
<br><hr>
<app-if-else></app-if-else>
<app-else-if></app-else-if>
<app-for-loop></app-for-loop>
<br>
<app-signals></app-signals>
<br>
<hr>
<app-two-way-bind></app-two-way-bind>
<br>
<hr>
<app-to-do-list></app-to-do-list>
<br>
<hr>
<app-dynamic-style></app-dynamic-style>
<br>
<hr>
<app-directive></app-directive>