<p>for-loop works!</p>

@for(user of users; track user){
<h1>{{ user }}</h1>
}

<hr />

@for(student of students; track student.name; let id=$index){
<h1>{{ id + 1 }}</h1>
<h3>{{ student.name }}</h3>
<span>{{ student.class }}</span
><br />
<span>{{ student.email }}</span>
<button (click)="getName(student.name)">Get Name in Console</button>
<br />
}
<h1>For contextual loop variable</h1>
@for(user of users; track user; let i =$index;let f = $first; let l = $last;let
o = $odd; let e = $even){ @if(f||l){
<h3 style="background-color: red">
  this is our {{ i + 1 }} user and name is {{ user }}
</h3>
} @else if (o) {
<h3 style="background-color: green">
  this is our {{ i + 1 }} user and name is {{ user }}
</h3>
} @else if (e) {
<h3 style="background-color: purple">
  this is our {{ i + 1 }} user and name is {{ user }}
</h3>
}
@else if (i>3) {
    <h3>{{$count}}</h3>
} @else {
<h3>this is our {{ i + 1 }} user and name is {{ user }}</h3>
} 
}
@empty {
    <h3>No records found</h3>
}
